version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    # อ่านค่า .env เข้าไปใน Container PHP อัตโนมัติ
    env_file:
      - .env 
    depends_on:
      - db

  db:
    image: mysql:5.7
    # ใช้ค่าตัวแปรจาก .env ในการตั้งค่า MySQL
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    env_file:
      - .env